name: Enviar E-mail

on:
  repository_dispatch:
    types: [form_submission]

jobs:
  send-email:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configurar Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install nodemailer
      - name: Enviar E-mail
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
        run: node send-email.js
